/.vscode
/build
/cache
/cassandra-cpp-driver
/cmake-build-debug
/cmake-build-release
/cmake-build
/include/api/Client.hpp
/include/cache 
/include/cache/Cache.hpp 
/include/cache/Fifo.hpp 
/include/cache/LFU.hpp 
/include/cache/LRU.hpp
/include/http/ContentType.hpp
/include/http/Handler.hpp 
/include/http/Method.hpp 
/include/http/Path.hpp 
/include/http/QueryString.hpp 
/include/http/Request.hpp 
/include/http/Response.hpp 
/include/http/Server.hpp 
/include/http/Status.hpp 
/include/http/Structures.hpp 
/include/http/WebSocketFrame.hpp
/include/util 
/include/util/fio/PropertiesReader.hpp 
/include/util/logging 
/include/util/logging/Level.hpp 
/include/util/logging/Log.hpp 
/include/util/properties 
/include/util/properties/LogProperties.hpp 
/include/util/Date.hpp 
/include/util/LogUtil.hpp 
/include/util/Parser.hpp 
/include/util/String.hpp 
/include/util/URL.hpp 
/include/util/Util.hpp 
/include/util/UUID.hpp
/include/Caching.hpp
/include/cassandra.h 
/include/dse.h 
/include/Exception.hpp
/include/JSON.hpp
/include/logconfig.h
/include/netppconfig.h
/include/Scheduler.hpp
/include/Task.hpp
/include/config.h
/json
/lib
/logpp
/netpp
/scheduler
/data-model
/logpp-*.log
/resources/password.txt
/resources/*